$blue: #0000FF;
$green: #00FF00;
$red: #FF0000;

#card-container{
  position: relative;
  top: 100px;
}

.cards{
  text-align: center;
  border: 1px solid black;
  padding: 100px 0px;
}

.card1, .card3-back{
  @extend .cards;
  background-color: $blue;
}
.card2, .card1-back{
  @extend .cards;
  background-color: $green;
}
.card3, .card2-back{
  @extend .cards;
  background-color: $red;
}